body {
    background-color: #000010;
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
}

header {
    background-color: white;
    padding: 20px;
    border-bottom: 3px solid black;
}

nav a {
    margin: 0 10px;
    color: rgb(115, 115, 212);
    font-size: 18px;
}

section {
    background-color: white;
    width: 60%;
    margin: 30px auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.project-card {
    background-color: #f5f5f5;
    width: 60%;
    margin: 15px auto;
    padding: 15px;
    border: 1px solid black;
    border-radius: 8px;
    text-align: left;
}

.project-card h3 {
    margin-top: 0;
}

/* basically the circle for my pic */
img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10%;
}

/* canvas star trails background */
#starTrails {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.blog-scroll {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 10px 0;
  scroll-snap-direction:x mandatory;
}

.blog-post {
  flex : 0 0 auto;
  width: 220px
  background-color: #f5f5f5;
  border: 1px solid black;
  border-radius: 8px;
  padding: 15px;
  text-align: left;
  snap-scrolling-align: start;
}
.blog-post h4 {
    margin-top: 0;
    margin-bottom: 8px;
}

.blog-scroll::-webkit-scrollbar {
    height: 8px;
}

.blog-scroll::-webkit-scrollbar-thumb {
    background-color: rgb(115, 115, 212);
    border-radius: 4px;
}